/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app {

  min-height: 100vh;
}



main {
  min-height: 100%;
}



/* Styles pour les écrans de taille moyenne à grande */
@media screen and (min-width: 768px) {
  header {
    font-size: 1.5em;
  }
}

/* Styles pour les écrans larges */
@media screen and (min-width: 1200px) {
  header {
    font-size: 2em;
  }
}